*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn.btn-outline-success.mr-3{
    min-width: 100px;
    font-weight: bold;
}

.btn.btn-outline-danger.mr-3{
    min-width: 100px;
    font-weight: bold;
}

.input-group.mb-3{
    width: 300px;
    margin: 0 auto;
}

.p-5.mt-3.bg-light.rounded.active{
    display: block !important;
    transition: 1s;
    animation: show 1s linear;
}

.alert.alert-danger.active{
    width: 500px;
    margin: 30px auto 0;
    display: block !important;
}

#deleteAll {
    margin: 30px auto;
}

@keyframes show {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 1000px;
    }
}

@media only screen and (max-width: 475px){
    body{
        width: 100vw;
    }
    #table1 {
        margin: 200px -20%;
        transform: rotate(90deg);
    }
    
    body > div:nth-child(3){
        overflow: scroll !important;
        max-height: 500px;
    }
    button {
        margin-top: 10px !important;
    }   
    #table2 tr > td, #table2 tr > th {
        line-height: 45px;
    }
}